<div class="ui-g">

  <!-- toolbar -->
  <div class="ui-g-12">

    <div class="ui-g">
      <div class="ui-g-5">
        <span class="ui-float-label">
          <input id="float-input" type="text" size="30" pInputText [(ngModel)]="newTitle" (keyup.enter)="addTodo()">
          <label for="float-input">Todo title</label>
        </span>
      </div>
      <div class="ui-g-5">
        <span class="ui-float-label app-two-row-float-label">
          <textarea [(ngModel)]="newDescription" [rows]="2" [cols]="30" pInputTextarea autoResize="autoResize"></textarea>
          <label for="float-input">Todo description</label>
        </span>
      </div>
      <div class="ui-g-2">
        <p-button label="Add" (onClick)="addTodo()" [disabled]="!newTitle" icon="fa fa-plus" iconPos="right"></p-button>
      </div>
    </div>

  </div>

  <!-- todos -->
  <div class="ui-g-12">
    <div *ngFor="let todo of todoItems | async">
      <app-todos-item [todosItem]="todo"></app-todos-item>
    </div>
  </div>

</div>