<div *ngIf="todo" class="ui-g">
  <div class="ui-g-6">
    <input type="text" [(ngModel)]="todo.title">
  </div>
  <div class="ui-g-6">
    <p-checkbox [(ngModel)]="todo.checked" binary="true"></p-checkbox>
  </div>
  <div class="ui-g-12">
    <textarea [(ngModel)]="todo.description" [rows]="2" [cols]="30" pInputTextarea autoResize="autoResize"></textarea>
  </div>
  <div class="ui-g-12">
    <p-calendar [(ngModel)]="todo.dueDate" [inline]="false" [showIcon]="true"></p-calendar>
  </div>
  <div class="ui-g-2 ui-g-offset-10">
    <p-button label="Back" (onClick)="goBack()"></p-button>
  </div>
  <div class="ui-g-2 ui-g-offset-10">
      <p-button label="Save" (onClick)="save()"></p-button>
    </div>

</div>